@use '@/shared/scss/colors' as c;
@use '@/shared/scss/transition' as t;
@use '@/shared/scss/hover' as h;
@use '@/shared/scss/media' as m;

.menuItem {
  cursor: pointer;

  position: relative;

  overflow-x: hidden;
  display: flex;
  column-gap: 8px;
  align-items: center;

  width: fit-content;
  min-width: 24px;
  padding: 8px 0;
  border: none;

  font-size: 24px;
  font-weight: 400;
  line-height: 1.33;
  color: c.getColor(content, primary);
  text-decoration: none;

  background-color: transparent;

  svg {
    width: 24px;
    max-width: unset;
  }

  &::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: -101%;

    display: block;

    width: 100%;
    height: 2px;

    background-color: c.getColor(accent, secondary);
    @include t.transition(transform, $duration: t.$duration-100);
  }

  @include h.hover {
    &::after {
      transform: translateX(100%);
    }
  }

  &_active {
    &::after {
      left: 0;
    }

    @include h.hover {
      &::after {
        transform: unset;
      }
    }
  }

  &_disabled {
    pointer-events: none;
    cursor: progress;
  }

  @include m.tablet-vertical {
    padding: 0;

    &::after {
      content: unset;
    }
  }
}
