@use '../../styles/functions/getColor' as colorFn;

.thanksModal {
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    max-width: 340px;

    color: colorFn.getColor(content, 'black');
    text-align: center;
  }
}
