@use '../../styles/functions/getColor' as colorFn;

.genreCard {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 290px;
  height: 304px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 24px;

  text-decoration: none;

  background: colorFn.getColor(bg, 'gray');
  box-shadow: 0px 0px 80px 0px rgba(255, 255, 255, 0.33);

  &__image {
    width: 100%;
    height: 220px;
  }

  &__imageItem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__title {
    padding: 22px 0 30px;

    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
    color: colorFn.getColor(content, primary);
    text-align: center;

    background-color: colorFn.getColor(bg, preBlack);
  }
}
