@use '../../styles/functions/getColor' as colorFn;
@use '../../styles/mixins/mediaBp' as media;

.modal {
  $closeButtonWidth: 48px;

  position: fixed;
  z-index: 100;
  inset: 0;

  overflow-y: auto;
  display: none;

  padding: 96px;

  &__backdrop {
    position: fixed;
    z-index: -1;
    inset: 0;
  }

  &__inner {
    position: relative;

    display: flex;
    flex-direction: column;
    row-gap: 24px;
    align-items: center;

    width: fit-content;
    height: fit-content;
    margin: auto;

    background-color: colorFn.getColor(bg, 'white');

    &_rounded {
      border-radius: 24px;
    }

    &_padded {
      padding: 64px 40px;

      @include media.bp(md) {
        padding-right: 20px;
        padding-left: 20px;
      }
    }
  }

  &__closeButton {
    position: absolute;
    z-index: 5;
    top: 0;
    right: calc(-24px - $closeButtonWidth);

    width: $closeButtonWidth;

    @include media.bp(md) {
      top: 8px;
      right: 8px;
      width: 32px;
    }
  }

  &__logo {
    height: 35px;
    margin: 0 auto 40px auto;

    @include media.bp(md) {
      height: 30px;
      margin-bottom: 32px;
    }
  }

  h3 {
    color: colorFn.getColor(content, 'black');
  }

  &_visible {
    display: flex;
  }

  @include media.bp(md) {
    padding: 72px 20px;
  }

  &_wide {
    align-items: center;
    justify-content: center;
    width: 100%;

    .modal__inner {
      flex: 0 1 960px;
      margin: unset;
    }

    @include media.bp(md) {
      padding: 0;

      .modal__backdrop {
        background-color: colorFn.getColor(base, 'black');
      }
    }
  }
}

.modalOpen {
  overflow: hidden;
  width: 100%;
}
