@use '../../styles/functions/getColor' as colorFn;

:root {
  --random-min-heigh: 552px;
}

.movieDetail {
  display: flex;
  column-gap: 36px;

  &__poster,
  &__wrapper {
    flex: 1 50%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    padding-top: 74px;
  }

  &__poster {
    overflow: hidden;
    height: var(--random-min-heigh);
    border-radius: 16px;
  }

  &__actions {
    display: flex;
    column-gap: 16px;
    padding-bottom: 122px;
  }

  &_withLoader {
    align-items: center;
    justify-content: center;
  }
}
