@use '@/shared/scss/colors' as c;
@use '@/shared/scss/media' as m;

.userDataItem {
  display: flex;
  column-gap: 16px;

  &__marker {
    overflow: clip;
    display: flex;
    flex: 0 0 60px;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 60px;
    border-radius: 50%;

    font-size: 24px;
    font-weight: 700;
    color: c.getColor(content, primary);

    background-color: c.getColor(content, disabled);

    svg {
      width: 24px;
      height: 24px;
    }

    @include m.mobile {
      flex-basis: 48px;
      height: 48px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  &__label {
    font-size: 18px;
    color: c.getColor(content, primary);
    white-space: nowrap;

    @include m.mobile {
      font-size: 14px;
      line-height: 20px;
      color: c.getColor(content, disabled);
    }
  }

  &__value {
    font-size: 24px;
    color: c.getColor(content, primary);

    @include m.mobile {
      font-size: 18px;
    }
  }
}
