@use '../../styles/functions/getColor' as colorFn;
@use '../../styles/mixins/transition' as tr;

.searchInput {
  width: 100%;

  &__clearButton {
    cursor: pointer;

    width: 24px;
    height: 24px;
    padding: 0;
    border: 0;

    color: colorFn.getColor(content, disabled);

    background-color: transparent;

    @include tr.transition(opacity);

    @media (hover: hover) {
      &:hover {
        color: colorFn.getColor(accent, active);
      }
    }
  }
}
