@use '../../styles/mixins/mediaBp' as media;

:root {
  --genres-column-gap: 40px;
  --genres-row-count: 4;

  @include media.bp(lg) {
    --genres-row-count: 3;
  }

  @include media.bp(md) {
    --genres-row-count: 2;
  }

  @include media.bp(sm) {
    --genres-row-count: 1;
  }
}

.genresList {
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: var(--genres-column-gap);

    @include media.bp(sm) {
      row-gap: 24px;
    }
  }

  &__item {
    // prettier-ignore
    width: calc(
      (100% - (var(--genres-column-gap) * var(--genres-row-count))) / var(--genres-row-count)
    );

    @include media.bp(sm) {
      width: 100%;
    }
  }
}
