@use '../../styles/mixins/mediaBp.scss' as media;
@use '../../styles/functions/getColor' as colorFn;

.tabs {
  display: flex;
  flex-direction: column;
  row-gap: 64px;

  &__items {
    display: flex;
    column-gap: 64px;

    svg {
      fill: transparent;
      stroke: colorFn.getColor(content, primary);
    }

    @include media.bp(md) {
      column-gap: 24px;
    }
  }
}
