@use '../../styles/functions/getColor' as colorFn;

.form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  width: 100%;
  min-width: 0;

  &__inputs {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  &__error {
    color: colorFn.getColor(accent, error);
    text-align: center;
  }
}
