@use '@/shared/scss/media' as m;
@use '@/shared/scss/colors' as c;
@use '@/shared/scss/hover' as h;

.movieDetail {
  $columnGap: 32px;

  display: flex;
  column-gap: $columnGap;
  justify-content: space-between;

  &__wrapper {
    display: flex;
    flex: 0 0 568px;
    flex-direction: column;
    row-gap: 60px;

    padding-top: 74px;

    @include m.tablet-vertical {
      flex: unset;
      row-gap: 32px;
      padding-top: 24px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    @include m.mobile {
      row-gap: 12px;
    }
  }

  &__actions {
    display: flex;
    gap: 16px;

    &:has(.movieDetail__randomButton) {
      @include m.mobile {
        flex-wrap: wrap;

        .movieDetail__aboutButton {
          flex: 1 0 fit-content;
          padding-inline: 20px;
        }
      }

      @include m.bp(xxs) {
        column-gap: 0;
        justify-content: space-between;

        .movieDetail__aboutButton {
          flex-grow: 0;
          flex-shrink: 1;
        }
      }
    }
  }

  &__description {
    font-size: 24px;
    color: c.getColor(content, secondary);

    @include m.mobile {
      font-size: 18px;
    }
  }

  &__meta {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    align-items: center;
  }

  &__metaItem {
    font-size: 18px;
    color: c.getColor(content, secondary);

    @include m.mobile {
      font-size: 14px;
      line-height: 1.4287;
    }
  }

  &__trailerButton {
    @include m.tablet-vertical {
      width: 100%;
      max-width: 260px;
    }

    @include m.mobile {
      max-width: unset;
    }
  }

  &__favoriteButton {
    svg {
      fill: transparent;
      stroke: c.getColor(content, primary);
    }

    @include h.hover {
      svg {
        fill: transparent;
        stroke: c.getColor(accent, active);
      }
    }

    &_added {
      svg {
        fill: c.getColor(accent, active);
        stroke: c.getColor(accent, active);
      }

      @include h.hover {
        svg {
          fill: c.getColor(accent, active);
          stroke: c.getColor(content, 'black');
        }
      }
    }
  }

  &__poster {
    flex: 0 1 auto;
    height: 552px;
    border-radius: 16px;

    @include m.tablet-vertical {
      flex-basis: max(234px, calc((100vw / 22) * 9));
      width: 100%;
    }
  }

  @include m.tablet-vertical {
    flex-direction: column-reverse;
  }
}
