@use '@/shared/scss/media' as m;

.genresPage {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 64px 40px;

    @include m.tablet-vertical {
      grid-template-columns: repeat(3, 1fr);
    }

    @include m.mobile {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }

    @include m.bp(s) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    height: 304px;

    // @include m.bp(s) {
    //   // aspect-ratio: 1/1;
    //   height: 304px;
    // }
  }
}
