@use '@/shared/scss/transition' as t;
@use '@/shared/scss/colors' as c;
@use '@/shared/scss/hover' as h;

.spoiler {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &__wrapper {
    overflow: hidden;
    @include t.transition(max-height, $duration: t.$duration-500);

    &_collapsed {
      @include t.transition(max-height, $duration: t.$duration-200);

      & > * {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
      }
    }
  }

  &__button {
    color: c.getColor(accent, primary, static);

    @include h.hover {
      color: c.getColor(accent, primary, hover);
    }
  }
}
