@use '../../styles/functions/getColor' as colorFn;

.movieDetails {
  display: flex;
  column-gap: 16px;
  align-items: last baseline;

  & > span {
    color: colorFn.getColor(content, secondary);
  }
}
