@use 'sass:list';
@use 'sass:meta';
@use 'sass:string';

$ease-out: cubic-bezier(0, 0, 0.4, 1);
$ease-in: cubic-bezier(0.6, 0, 1, 1);
$ease-in-out: cubic-bezier(0.6, 0, 0.4, 1);

$duration-100: 100ms;
$duration-200: 200ms;
$duration-300: 300ms;
$duration-400: 400ms;
$duration-500: 500ms;

$transition-default-duration: $duration-200;
$transition-default-func: $ease-in-out;

@mixin transition(
  $props,
  $duration: $transition-default-duration,
  $func: $transition-default-func
) {
  @if meta.type-of($props) != 'list' {
    $props: ($props);
  }

  $list: ();
  @each $prop in $props {
    $list: list.append(
      $list,
      string.unquote('#{$prop} #{$duration} #{$func}'),
      comma
    );
  }

  /* stylelint-disable */
  transition: $list;
  will-change: $props;
  /* stylelint-enable */
}
