@use '../../styles/functions/getColor' as colorFn;
@use '../../styles/mixins/transition' as tr;
@use '../../styles/mixins/mediaBp' as media;

.button {
  cursor: pointer;

  display: flex;
  column-gap: 12px;
  align-items: center;
  justify-content: center;

  width: fit-content;
  padding: 16px 48px;
  border: none;
  border-radius: 28px;

  font-family: 'Play', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;

  svg {
    width: 24px;
    max-width: unset;
  }

  @include tr.transition(color, background-color, border-color);

  @include media.bp(md) {
    padding-right: 36px;
    padding-left: 36px;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &_primary {
    color: colorFn.getColor(content, primary);
    background-color: colorFn.getColor(accent, primary, static);

    @media (hover: hover) {
      &:hover {
        background-color: colorFn.getColor(accent, primary, hover);
      }
    }

    &:disabled {
      color: colorFn.getColor(content, disabled);
      background-color: colorFn.getColor(accent, primary, disabled);
    }
  }

  &_secondary {
    border: 1px solid colorFn.getColor(content, placeholder);
    color: colorFn.getColor(content, primary);
    background-color: colorFn.getColor(bg, secondary, static);

    @media (hover: hover) {
      &:hover {
        border-color: colorFn.getColor(content, 'black');
        color: colorFn.getColor(content, 'black');
        background-color: colorFn.getColor(base, 'white');
      }
    }

    &:disabled {
      color: colorFn.getColor(content, disabled);
      background-color: colorFn.getColor(bg, secondary, disabled);
    }
  }

  &_ghost {
    padding: 0;
    color: colorFn.getColor(content, 'black');
    background-color: transparent;

    @media (hover: hover) {
      &:hover {
        color: colorFn.getColor(accent, primary, static);
      }
    }

    &:disabled {
      color: colorFn.getColor(accent, primary, disabled);
    }
  }

  &_wide {
    width: 100%;
  }

  &_smallPaddings {
    padding-right: 21px;
    padding-left: 21px;
  }
}
