@use '../../styles/mixins/mediaBp' as media;

.movieActions {
  display: flex;
  column-gap: 16px;
  padding-bottom: 122px;

  &__button {
    &_mdWide {
      @include media.bp(sm) {
        width: 100% !important;
      }
    }
  }

  @include media.bp(lg) {
    padding-bottom: unset;
  }

  @include media.bp(sm) {
    flex-wrap: wrap;
    row-gap: 16px;
    justify-content: space-between;
  }
}
