@use '../../styles/functions/getColor' as colorFn;

.expandableText {
  display: flex;
  flex-direction: column;
  row-gap: 6px;

  &__text {
    position: relative;
    overflow: hidden;
    transition: max-height 0.15s ease;

    &_collapsed {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: var(--clamp-lines);

      text-overflow: ellipsis;

      > * {
        display: inline;
        margin: 0;
      }
    }
  }

  &__button {
    color: colorFn.getColor(accent, primary, static) !important;
    &:hover {
      color: colorFn.getColor(accent, primary, hover) !important;
    }
  }
}
