@use '@/shared/scss/colors' as c;
@use '@/shared/scss/hover' as h;
@use '@/shared/scss/transition' as t;
@use '@/shared/scss/media' as m;

.inputSearch {
  width: 100%;

  input[type='search'] {
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance: none;
      appearance: none;
    }

    @include m.mobile {
      padding-block: 15px;
    }
  }

  &__clearButton {
    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;

    color: c.getColor(content, disabled);

    opacity: 0;
    @include t.transition((color, opacity));

    @include h.hover {
      color: c.getColor(accent, active);
    }

    svg {
      width: 75%;
      height: 75%;
    }

    &_visible {
      pointer-events: all;
      opacity: 1;
    }
  }
}
