@use '@/shared/scss/media' as m;

.movieList {
  display: flex;
  flex-wrap: wrap;
  gap: 64px 40px;
  justify-content: space-between;

  & > * {
    flex: 1 0 224px;
  }

  @include m.mobile {
    gap: 40px;
  }

  @include m.bp(sm) {
    row-gap: 24px;
    justify-content: center;

    & > * {
      flex: 0 1 335px;
    }
  }
}
