@use '@/shared/config/scss/functions' as f;

body {
  background-color: transparent;
  background-image:
    f.getColor(bg, gr1), f.getColor(bg, gr2),
    linear-gradient(f.getColor(bg, preBlack), f.getColor(bg, preBlack));
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    pointer-events: none;
    content: '';

    position: fixed;
    z-index: -1;
    inset: 0;

    background-image:
      f.getColor(bg, gr1), f.getColor(bg, gr2),
      linear-gradient(f.getColor(bg, preBlack), f.getColor(bg, preBlack));
    background-repeat: no-repeat;
    background-size: cover;
  }
}
