@use '@/shared/scss/colors' as c;

html {
  background-color: c.getColor(bg, preBlack);
  background-image:
    c.getColor(bg, gr1), c.getColor(bg, gr2),
    linear-gradient(c.getColor(bg, preBlack), c.getColor(bg, preBlack));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  background-color: transparent;

  &::before {
    pointer-events: none;
    content: '';

    position: fixed;
    z-index: -1;
    inset: 0;

    background-image:
      c.getColor(bg, gr1), c.getColor(bg, gr2),
      linear-gradient(c.getColor(bg, preBlack), c.getColor(bg, preBlack));
    background-repeat: no-repeat;
    background-size: cover;
  }
}
