@use '../../styles/mixins/mediaBp' as media;

.moviesList {
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 64px;

    @include media.bp(md) {
      row-gap: 40px;
    }
  }

  &__list {
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 64px;
    grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));

    @include media.bp(md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: fit-content;

      &:has(div.moviesList__slider) {
        display: block;
        width: 100%;
      }
    }
  }

  &__item {
    width: 100%;

    @include media.bp(md) {
      width: fit-content;

      &:has(div.moviesList__slider) {
        a {
          height: 336px;
        }
      }
    }

    @include media.bp(s) {
      a {
        height: 300px;
      }
    }

    @include media.bp(sm) {
      width: 50%;

      & > a {
        width: 100%;
        height: auto;
      }
    }

    @include media.bp(s) {
      width: 100%;
    }
  }
}

div.moviesList__slider {
  overflow: visible;
}

div.moviesList__sliderSlide {
  width: fit-content;

  div.movieList__item {
    width: fit-content;
  }

  a {
    height: 336px;
  }
}
