@use './scss/reset';
@use './scss/background';
@use './scss/typography';

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  &:has(.modal__visible) {
    overflow-y: hidden;
  }
}
