@use '@/shared/scss/media' as m;

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;

  @include m.bp(xl) {
    padding: 0 40px;
  }

  @include m.bp(sm) {
    padding: 0 20px;
  }
}
