@use '../../styles/functions/getColor' as colorFn;

.backTitleBar {
  display: flex;
  column-gap: 16px;
  align-items: center;

  &__button {
    aspect-ratio: 1;
    width: 40px;
    padding: 0;
    color: colorFn.getColor(content, primary);

    svg {
      width: 14px;
      height: 22px;
    }
  }
}
