@use '../../styles/mixins/mediaBp' as media;

.header {
  padding: 24px 0;

  &__wrapper {
    position: relative;

    display: flex;
    column-gap: 80px;
    align-items: center;
    justify-content: space-between;

    @include media.bp(lg) {
      column-gap: 40px;
    }

    @include media.bp(sm) {
      column-gap: 20px;
    }
  }

  &__menu {
    display: flex;
    column-gap: 40px;
  }

  &__center {
    display: flex;
    flex: 1 1 auto;
    column-gap: 40px;
    align-items: center;

    @include media.bp(lg) {
      flex: 0 1 auto;
      margin-left: auto;
    }

    @include media.bp(sm) {
      column-gap: 20px;
    }
  }

  @include media.bp(sm) {
    padding: 16px 0;
  }
}
