@use '@/shared/scss/media' as m;
@use '@/shared/scss/colors' as c;

.metaItem {
  font-size: 18px;
  color: c.getColor(content, secondary);

  @include m.mobile {
    font-size: 14px;
    line-height: 1.4287;
  }
}
