@use '@/shared/scss/media' as m;

.layout {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.main {
  overflow-x: clip;
  flex: 1 1 100vh;
  padding-top: 128px;

  @include m.tablet-vertical {
    padding-top: 80px;
  }

  @include m.mobile {
    padding-top: 56px;
  }
}
