@use '@/shared/scss/media' as m;

.layout {
  display: flex;
  flex-direction: column;
}

.main {
  overflow-x: clip;
  flex: 1 1 100vh;
  padding-top: 128px;

  @include m.tablet-vertical {
    padding-top: 80px;
  }

  @include m.mobile {
    padding-top: 56px;
  }
}
