@use '../../styles/functions/getColor' as colorFn;
@use '../../styles/mixins/mediaBp' as media;
@use '../../styles/mixins/transition' as tr;

.movieCard {
  position: relative;

  &__link {
    overflow: hidden;
    display: block;

    box-sizing: border-box;
    aspect-ratio: 335/502;
    width: 100%;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 16px;

    background-color: #3c3c3c;
    box-shadow: 0px 0px 80px 0px rgba(255, 255, 255, 0.33);

    @include media.bp(md) {
      width: unset;
      height: 336px;
    }
  }

  &__poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__place,
  &__removeButton {
    position: absolute;
    top: -12px;
  }

  &__removeButton {
    pointer-events: none;

    right: -20px;

    width: 40px;
    height: 40px;

    opacity: 0;
    @include tr.transition(opacity);
  }

  &__place {
    pointer-events: none;

    left: -12px;

    display: block;

    width: 62px;
    padding: 8px 0;
    border-radius: 50px;

    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
    color: colorFn.getColor(content, brand);
    text-align: center;

    background-color: colorFn.getColor(bg, 'white');
  }

  @media (hover: hover) {
    &:hover {
      .movieCard__removeButton {
        pointer-events: all;
        opacity: 1;
      }
    }
  }
}
