@use '../../styles/functions/get-color' as colorFn;
@use '../../styles/mixins/media-bp' as bp;

.movieCard {
  position: relative;

  &__link {
    overflow: hidden;
    display: block;

    width: 224px;
    height: 336px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 16px;

    background-color: #3c3c3c;
    box-shadow: 0px 0px 80px 0px rgba(255, 255, 255, 0.33);

    @include bp.bp(sm) {
      width: 335px;
      height: 502px;
    }

    @include bp.bp(xs) {
      aspect-ratio: 335/502;
      width: 100%;
      height: auto;
    }
  }

  &__poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__place {
    pointer-events: none;

    position: absolute;
    top: -12px;
    left: -12px;

    display: block;

    width: 62px;
    padding: 8px 0;
    border-radius: 50px;

    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
    color: colorFn.getColor(content, brand);
    text-align: center;

    background-color: colorFn.getColor(bg, 'white');
  }
}
