body {
  &:has(.noMatchSection) {
    height: 100%;
  }
}

.noMatchSection {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__backdrop {
    position: absolute;
    z-index: -1;
    top: 34%;
    left: 50%;
    translate: -50% -50%;

    font-size: 36vh;
    font-weight: 700;

    opacity: 0.03;
  }

  &__title {
    margin-bottom: 4px;
  }

  p:not(.noMatchSection__title) {
    max-width: 320px;
    margin-bottom: 60px;
  }

  &__title,
  p {
    text-align: center;
  }
}
