@use '../../styles/functions/getColor' as colorFn;
@use '../../styles/mixins/mediaBp' as media;

.movieInfo {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &__title {
    text-wrap: balance;
  }

  &__plot {
    font-size: 24px;
    color: colorFn.getColor(content, secondary);

    @include media.bp(sm) {
      font-size: 18px;
    }
  }

  @include media.bp(sm) {
    row-gap: 12px;
  }
}
