@use '../mixins/mediaBp' as media;

$spacings: 0, 32, 40, 56, 120, 160;

@each $x in $spacings {
  .pt-#{$x} {
    padding-top: #{$x}px;
  }
  .pb-#{$x} {
    padding-bottom: #{$x}px;
  }
}

@include media.bp(lg) {
  @each $x in $spacings {
    .pt-lg-#{$x} {
      padding-top: #{$x}px;
    }
    .pb-lg-#{$x} {
      padding-bottom: #{$x}px;
    }
  }
}

@include media.bp(md) {
  @each $x in $spacings {
    .pt-md-#{$x} {
      padding-top: #{$x}px;
    }
    .pb-md-#{$x} {
      padding-bottom: #{$x}px;
    }
  }
}
