@use '../functions/get-color' as colorFn;

body {
  font-family: Play, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.333;
  color: colorFn.getColor(content, primary);
}

.heading {
  font-weight: 700;

  &_1 {
    font-size: clamp(1.5rem, -1.167rem + 5.556vi, 3rem);
    line-height: clamp(2rem, -0.667rem + 5.556vi, 3.5rem);
  }

  &_2 {
    font-size: clamp(1.5rem, -0.278rem + 3.704vi, 2.5rem);
    line-height: clamp(2rem, 0.222rem + 3.704vi, 3rem);
  }
}
