@use '../../styles/functions/getColor' as colorFn;
@use '../../styles/mixins/transition' as tr;

.movieFullCard {
  display: flex;
  column-gap: 16px;
  align-items: center;

  width: 100%;
  padding: 20px 8px;
  border: 1px solid transparent;
  border-radius: 6px;
  @include tr.transition(border-color);

  &__poster {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: calc(40 / 52);
    width: 40px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__title {
    font-weight: 700;
  }

  &_vertical {
    flex-direction: column;
    row-gap: 16px;
    align-items: flex-start;
    max-width: 220px;

    .movieFullCard__poster {
      width: 158px;
    }
  }

  @media (hover: hover) {
    &:hover {
      border-color: colorFn.getColor(content, disabled);
    }
  }
}
