@use '../../styles/mixins/mediaBp' as media;
@use '../../styles/mixins/transition' as tr;

.search {
  width: 100%;

  &__wrapper {
    position: relative;
    @include tr.transition(top);

    @include media.bp(lg) {
      position: absolute;
      z-index: 20;
      top: -100px;
      right: 0;
      left: 0;

      &_active {
        top: 0;

        .search__backdrop {
          z-index: -1;
          display: block;
          opacity: 1;
        }
      }
    }
  }

  &__icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }

  &__dropdown {
    z-index: 10;
    top: calc(100% + 12px);

    @include media.bp(lg) {
      top: calc(100% + 8px);
    }
  }

  &__loader {
    pointer-events: none;

    position: absolute;
    top: 50%;
    right: 60px;
    translate: 0 -50%;

    width: fit-content;
    height: fit-content;
  }

  &__backdrop {
    position: fixed;
    inset: 0;
    display: none;
    opacity: 0;
    @include tr.transition(opacity);
  }

  div.search__slide {
    width: fit-content;
  }

  @include media.bp(lg) {
    width: fit-content;
  }
}

body:has(.search__wrapper.search__wrapper_active) {
  @include media.bp(lg) {
    overflow: hidden;
  }
}
