@use '../../styles/functions/getColor' as colorFn;

.rating {
  display: inline-flex;
  column-gap: 4px;
  align-items: center;

  padding: 4px 12px;
  border-radius: 16px;

  font-weight: 700;
  color: colorFn.getColor(content, primary);

  &_red {
    background-color: colorFn.getColor(rate, 'red');
  }

  &_gray {
    background-color: colorFn.getColor(rate, 'gray');
  }

  &_green {
    background-color: colorFn.getColor(rate, 'green');
  }

  &_gold {
    background-color: colorFn.getColor(rate, 'gold');
  }

  &_small {
    padding: 2px 8px;
    font-size: 12px;

    svg {
      width: 10px;
      height: 10px;
    }
  }
}
