@use '@/shared/scss/colors' as c;
@use '@/shared/scss/media' as m;

.search {
  width: 100%;

  @include m.tablet-vertical {
    width: fit-content;
  }

  &__button {
    width: 24px;
    height: 24px;
    color: c.getColor(content, primary);
  }
}
