@use '@/shared/scss/colors' as c;
@use '@/shared/scss/transition' as t;

.dropdown {
  display: grid;
  grid-template-rows: 1fr;

  width: 100%;
  border-radius: 8px;

  background-color: c.getColor(bg, secondary, static);

  @include t.transition(grid-template-rows, $duration: t.$duration-300);

  &__inner {
    overflow-y: auto;
    max-width: 100%;
    min-height: 0;
    @include t.transition(padding, $duration: t.$duration-200);
  }

  &_collapsed {
    grid-template-rows: 0fr;

    .dropdown__inner {
      padding-block: 0;
    }
  }
}
