@use '@/shared/scss/colors' as c;
@use '@/shared/scss/hover' as h;
@use '@/shared/scss/animations/scaling' as sc;

.genreCard {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    display: block;

    width: 100%;
    padding: 22px 0 30px;

    color: c.getColor(content, primary);
    text-align: center;

    background-color: c.getColor(bg, preBlack);
  }

  &__poster {
    position: relative;
    z-index: -1;
    @include sc.scaling-out;
  }

  @include h.hover {
    .genreCard__poster {
      @include sc.scaling-in;
    }
  }
}
