@use '../../styles/functions/getColor' as colorFn;

.dropdown {
  position: absolute;
  right: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  padding: 8px;
  border-radius: 8px;

  background-color: colorFn.getColor(bg, secondary, static);

  &_light {
    background-color: colorFn.getColor(bg, 'white');
  }
}
