@use '../../styles/functions/getColor' as colorFn;
@use '../../styles/mixins/transition' as tr;

.menuItem {
  cursor: pointer;

  position: relative;

  overflow-x: hidden;
  display: flex;
  column-gap: 8px;
  align-items: center;

  width: fit-content;
  padding: 8px 0;
  border: none;

  font-family: 'Play', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.33;
  color: colorFn.getColor(content, primary);
  text-decoration: none;

  background-color: transparent;

  &::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: -100%;

    display: block;

    width: 100%;
    height: 2px;

    background-color: colorFn.getColor(accent, secondary);

    @include tr.transition(0.1s, ease-in-out, transform);
  }

  @media (hover: hover) {
    &:hover {
      &::after {
        transform: translateX(100%);
      }
    }
  }

  &_active {
    &::after {
      left: 0;
    }

    @media (hover: hover) {
      &:hover {
        &::after {
          transform: unset;
        }
      }
    }
  }
}
