@use '@/shared/scss/colors' as c;

.card {
  overflow: clip;

  width: 100%;
  height: 100%;
  border: 1px solid c.getColor(auxiliary, color1);
  border-radius: 24px;

  box-shadow: 0 0 80px 0 rgb(255 255 255 / 33%);

  &_smaller {
    border-radius: 16px;
  }
}
