@use './styles/functions/getColor' as colorFn;

#root {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: transparent;
  background-image:
    colorFn.getColor(bg, gr1), colorFn.getColor(bg, gr2),
    linear-gradient(
      colorFn.getColor(bg, preBlack),
      colorFn.getColor(bg, preBlack)
    );
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    pointer-events: none;
    content: '';

    position: fixed;
    z-index: -1;
    inset: 0;

    background-image:
      colorFn.getColor(bg, gr1), colorFn.getColor(bg, gr2),
      linear-gradient(
        colorFn.getColor(bg, preBlack),
        colorFn.getColor(bg, preBlack)
      );
    background-repeat: no-repeat;
    background-size: cover;
  }
}
