@use './styles/functions/getColor' as colorFn;

#root {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  height: 100%;
  min-height: 100vh;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  font-synthesis: none;
}
