@use './styles/functions/getColor' as colorFn;

#root {
  display: flex;
  flex-direction: column;

  width: 100vw;
  min-height: 100vh;

  background-image: colorFn.getColor(bg, gr1), colorFn.getColor(bg, gr2);
}
