@use 'modern-normalize/modern-normalize.css';
@use './styles/base/null';
@use './styles/custom/fonts';
@use './styles/custom/typography';
@use './styles/custom/indents';

:root {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  font-synthesis: none;
}
