@use 'modern-normalize/modern-normalize.css';
@use './styles/base/null';
@use './styles/custom/fonts';
@use './styles/custom/typography';
@use './styles/custom/indents';
@use './styles/functions/getColor' as colorFn;

html {
  height: 100%;
}

body {
  height: 100%;

  background-color: transparent;
  background-image:
    colorFn.getColor(bg, gr1), colorFn.getColor(bg, gr2),
    linear-gradient(
      colorFn.getColor(bg, preBlack),
      colorFn.getColor(bg, preBlack)
    );
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    pointer-events: none;
    content: '';

    position: fixed;
    z-index: -1;
    inset: 0;

    background-image:
      colorFn.getColor(bg, gr1), colorFn.getColor(bg, gr2),
      linear-gradient(
        colorFn.getColor(bg, preBlack),
        colorFn.getColor(bg, preBlack)
      );
    background-repeat: no-repeat;
    background-size: cover;
  }
}
