@use '../../styles/functions/getColor' as colorFn;

.movieAbout {
  $indent: 8px;

  width: 100%;

  &__item {
    display: flex;
    column-gap: $indent;

    & span::first-letter {
      text-transform: uppercase;
    }

    & > p {
      display: inline-flex;
      flex: 0 0 482px;
      column-gap: $indent;
      align-items: baseline;

      &::after {
        content: '';

        display: block;

        width: 100%;
        height: 1px;
        border-bottom: 1px dashed colorFn.getColor(content, disabled);
      }
    }
  }
}
