@use '../../styles/mixins/mediaBp' as media;

.settings {
  display: flex;
  flex-direction: column;
  row-gap: 64px;

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  @include media.bp(sm) {
    row-gap: 40px;
  }
}
