@use '../../styles/functions/getColor' as colorFn;
@use '../../styles/mixins/mediaBp' as media;

.profileInfo {
  display: flex;
  column-gap: 16px;
  width: fit-content;

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    justify-content: space-between;
  }

  &__marker {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1/1;
    height: 60px;
    border-radius: 50%;

    background-color: colorFn.getColor(content, disabled);

    svg {
      width: 24px;
      height: 24px;
    }

    @include media.bp(sm) {
      height: 48px;
    }
  }

  &__marker,
  &__content {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;

    @include media.bp(sm) {
      font-size: 18px;
    }
  }

  &__label {
    @include media.bp(sm) {
      font-size: 14px;
      line-height: 1.4286;
      color: colorFn.getColor(content, disabled);
    }
  }
}
